body{
    background-color: rgb(252, 232, 232);
}
button{
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgb(227, 172, 161);
    width: 100px;
    height: 35px;
    font-size: 13.5px;
}
nav{
    display: flex;
    justify-content: space-between;
}