body{
    background-color: rgb(250, 227, 195);
}
table{
    border: 1px solid black;
}
th {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    height: 40px;
    font-size: 20px;
}
td {
    font-size: 20px;
}
button{
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
    background-color: rgba(247, 155, 57, 0.7);
    width: 100px;
    height: 35px;
    font-size: 13.5px;
    cursor: pointer;
}